/*

This stylesheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier OR .block--modifier

For more information: http://getbem.com/introduction/

*/

@import url('https://fonts.googleapis.com/css?family=Raleway|Rubik');

/* Reset CSS ********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, a:link, a:active, a:hover, a:visited, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgb(33, 33, 33);
}

/* Block ************************************************/

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: Snow;
}

header,
main,
footer {
	padding: 1em;
}

header,
main {
	align-items: center;
}

main {
	position: relative;
}

h1 {
	padding-bottom: 1em;
	font-family: 'Rubik', sans-serif;
	font-size: 36px;
	font-weight: 700;
}

h2 {
	font-size: 28px;
}

h3 {
	padding-bottom: 18px;
	font-size: 18px;
}

p {
	text-indent: 14px;
	line-height: 1.6;
}

b {
	font-weight: 700;
}

a:hover,
a:active {
	fill: rgb(230, 0, 115);
	color: rgb(230, 0, 115);
}

header {
	grid-template-rows: 1 / 2;
	justify-content: space-between;
}

nav li {
	padding: 0 0.5em;
}

main {
	flex: 1 0 auto;
	grid-template-rows: 2 / 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

footer {
	flex-shrink: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.parallax {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../images/banner.png");
	background-attachment: fixed;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

/* Element **********************************************/

.__logo {
	width: 150px;
}

.__quick-links,
.__social-media,
.__contact {
	margin-left: 2em;
}

.__contact p {
	text-indent: 0;
}

.__social-media-links a:nth-child(even) {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.__copyright {
	grid-column: 1 / 4;
	text-align: right;
}

.__copyright::before {
	content:"\00a9" "\00a0";
}

/* Modifier *********************************************/

.--flex-horizontal {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.--flex-vertical {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

li .--button {
	padding: 0.8em;
	background-color: rgb(230, 0, 115);
	color: Snow;
	font-weight: 700;
}

.--white *{
	color: Snow;
	fill: Snow;
}
