/*

This stylesheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier OR .block--modifier

For more information: http://getbem.com/introduction/

*/

@import url('https://fonts.googleapis.com/css?family=Raleway|Rubik');

/* Basic Theme ********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, a:link, a:active, a:hover, a:visited, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgb(33, 33, 33);
}

/* Block ************************************************/

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: Snow;
}

header,
footer {
	padding: 2em 0;
}

header {
	align-items: center;
	justify-content: space-around;
}

main {
	align-items: center;
}

main {
	flex: 1 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
}

footer {
	position: relative;
	flex-shrink: 0;
	justify-content: space-evenly;
	background-color: #37474F;
}

/* Element **********************************************/

h1, h2 {
	text-align: center;
}

h1 {
	padding-bottom: 60px;
	font-family: 'Rubik', sans-serif;
	font-size: 36px;
	font-weight: 700;
}

h2 {
	padding-bottom: 28px;
	font-size: 28px;
}

h3 {
	padding-bottom: 18px;
	font-size: 18px;
}

p {
	text-indent: 14px;
	line-height: 1.6;
}

b {
	font-weight: 700;
}

a:hover,
a:active {
	fill: rgb(230, 0, 115);
	color: rgb(230, 0, 115);
}

.__logo {
	width: 150px;
}

.__navigation-bar li {
	padding: 0 16px;
}

.__navigation-bar li:last-child {
	padding-right: 0;
}

.__content {
	padding: 120px 8em;
	grid-column: 1 / 4;
	align-items: center;
}

.__content > div {
	padding-bottom: 60px;
}

.__content > div:last-child {
	padding-bottom: 0;
}

.__content:nth-child(even) {
	background-color: rgb(58, 207, 115);
}

footer div,
footer h3,
footer p,
footer a:link {
	font-weight: 600;
	color: Snow;
	fill: Snow;
}

footer a:hover,
footer a:active {
	fill: rgb(230, 0, 115);
	color: rgb(230, 0, 115);
}

footer svg {
	width: 32px;
	height: auto;
}

.__quick-links,
.__social-media,
.__contact {
	margin-left: 2em;
}

footer li {
	padding: 8px 0;
}

.__contact p {
	text-indent: 0;
}

.__social-media-links a:nth-child(even) {
	padding: 0 1em;
}

.__copyright {
	grid-column: 1 / 4;
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.__copyright::before {
	content:"\00a9" "\00a0";
}

/* Modifier *********************************************/

#--flex {
	display: flex;
	flex-wrap: wrap;
}

header #button {
	text-transform: uppercase;
}

#button {
	padding: 0.8em;
	background-color: rgb(58, 207, 115);
	color: Snow;
	font-weight: 700;
}

#button:hover,
#button:active {
	background-color: rgb(230, 0, 115);
}

#white *{
	color: Snow;
	fill: Snow;
}

/* Responsive Layout*************************************/
